---
import type { CollectionEntry } from "astro:content";
import { getPostUrlBySlug } from "@utils/url-utils";
import PostCard from "./PostCard.astro";
import PostPageClient from "./PostPageClient.svelte";

const { page } = Astro.props;

let delay = 0;
const interval = 50;
---

<div class="post-container transition flex flex-col rounded-[var(--radius-xxlarge)] py-1 md:py-0 md:gap-4 mb-2 ml-2 mr-2 md:ml-0 md:mr-0">
    {page.data.map((entry: CollectionEntry<"posts">) => (
        <div
            class="post-card-wrapper mb-4"
            data-lang={entry.data.lang || ""}
            data-hidden={entry.data.hidden || false}
        >
            <PostCard
                    entry={entry}
                    title={entry.data.title}
                    tags={entry.data.tags}
                    category={entry.data.category}
                    published={entry.data.published}
                    updated={entry.data.updated}
                    url={getPostUrlBySlug(entry.slug)}
                    image={entry.data.image}
                    description={entry.data.description}
                    draft={entry.data.draft}
                    class="onload-animation"
                    style={`animation-delay: calc(var(--content-delay) + ${delay++ * interval}ms);`}
            />
        </div>
    ))}
</div>

<!-- Client-side filtering component -->
<PostPageClient client:only="svelte" />
