---
import BackToTop from "@components/control/BackToTop.astro";
import Footer from "@components/Footer.astro";
import Navbar from "@components/Navbar.astro";
import NavCard from "@components/NavCard.astro";
import SideBar from "@components/widget/SideBar.astro";
import type { MarkdownHeading } from "astro";
import { Icon } from "astro-icon/components";
import ImageWrapper from "../components/misc/ImageWrapper.astro";
import TOC from "../components/widget/TOC.astro";
import { siteConfig } from "../config";
import {
	BANNER_HEIGHT,
	BANNER_HEIGHT_EXTEND,
	MAIN_PANEL_OVERLAPS_BANNER_HEIGHT,
} from "../constants/constants";
import Layout from "./Layout.astro";
import BannerContent from "../components/BannerContent.astro";

interface Props {
	title?: string;
	banner?: string;
	description?: string;
	lang?: string;
	setOGTypeArticle?: boolean;
	headings?: MarkdownHeading[];
	bannerTitle?: string;
	bannerSubtitle?: string;
}

const {
	title,
	banner,
	description,
	lang,
	setOGTypeArticle,
	headings = [],
	bannerTitle,
	bannerSubtitle,
} = Astro.props;
const hasBannerCredit =
	siteConfig.banner.enable && siteConfig.banner.credit.enable;
const hasBannerLink = !!siteConfig.banner.credit.url;
const isHomePage =
	Astro.url.pathname === "/" || Astro.url.pathname === "/blog/";

const mainPanelTop = siteConfig.banner.enable
	? `calc(${BANNER_HEIGHT}vh - ${MAIN_PANEL_OVERLAPS_BANNER_HEIGHT}rem)`
	: "5.5rem";
---

<Layout
  title={title}
  banner={banner}
  description={description}
  lang={lang}
  setOGTypeArticle={setOGTypeArticle}
  headings={headings}
>
  <!-- Navbar -->
  <slot slot="head" name="head" />
  <div
    id="top-row"
    class="z-50 relative mx-auto max-w-full transition-all duration-700 pointer-events-none"
    class:list={[""]}
  >
    <div
      id="navbar-wrapper"
      class="top-0 sticky transition-all pointer-events-auto"
    >
      <Navbar />
    </div>
  </div>

  <!-- Banner -->
  {
    siteConfig.banner.enable && (
      <div
        id="banner-wrapper"
        class={`absolute z-10 w-full transition duration-700 overflow-hidden`}
        style={`top: -${BANNER_HEIGHT_EXTEND}vh`}
      >
        <ImageWrapper
          id="banner"
          alt="Banner image of the blog"
          class:list={[
            "object-cover h-full transition duration-700 opacity-0 scale-105",
          ]}
          src={siteConfig.banner.src}
          position={siteConfig.banner.position}
          description={
            siteConfig.banner.credit.enable && siteConfig.banner.credit.text
              ? siteConfig.banner.credit.text
              : "博客Banner图片"
          }
          imageUrl={siteConfig.banner.src}
          enablePhotoswipe={true}
        ></ImageWrapper>
      </div>
    )
  }

  <!-- Banner Content Overlay -->
  {isHomePage && (
    <BannerContent
      customTitle={bannerTitle}
      customSubtitle={bannerSubtitle}
    />
  )}

  <!-- Main content -->
  <div
    class="z-30 absolute w-full pointer-events-none"
    style={`top: ${mainPanelTop}`}
  >
    <!-- The pointer-events-none here prevent blocking the click event of the TOC -->
    <div class="relative mx-auto max-w-[var(--page-width)] pointer-events-auto">
      <div
        id="main-grid"
        class="right-0 left-0 gap-6 grid grid-cols-[1fr] lg:grid-cols-[1fr_17.5rem] grid-rows-[auto_1fr_auto_auto] lg:grid-rows-[1fr_auto] mx-auto px-0 md:px-4 w-full transition duration-700"
      >
        <!-- Banner image credit -->
        {
          hasBannerCredit && (
            <a
              href={siteConfig.banner.credit.url}
              id="banner-credit"
              target="_blank"
              rel="noopener"
              aria-label="Visit image source"
              class:list={[
                "group onload-animation transition-all absolute flex justify-center items-center rounded-full " +
                  "px-3 right-4 md:right-8 lg:right-4 -top-[1.25rem]  md:-top-[1.75rem] lg:-top-[3.25rem]  bg-black/60 hover:bg-black/70 h-9",
                { "hover:pr-9 active:bg-black/80": hasBannerLink },
              ]}
            >
              <Icon
                class="mr-1 text-[1.25rem] text-white/75"
                name="material-symbols:copyright-outline-rounded"
              />
              <div class="text-white/75 text-xs">
                {siteConfig.banner.credit.text}
              </div>
              <Icon
                class:list={[
                  "transition absolute text-[oklch(0.75_0.14_var(--hue))] right-4 text-[0.75rem] opacity-0",
                  { "group-hover:opacity-100": hasBannerLink },
                ]}
                name="fa6-solid:arrow-up-right-from-square"
              ></Icon>
            </a>
          )
        }

        <div class="flex flex-col gap-4 col-span-1 lg:col-span-1 row-start-2 lg:row-start-1 row-end-3 w-full min-w-0">
          <NavCard />
          <main
            id="swup-container"
            class="w-full overflow-hidden transition-swup-fade"
          >
            <div id="content-wrapper" class="w-full onload-animation">
              <!-- the overflow-hidden here prevent long text break the layout-->
              <!-- make id different from windows.swup global property -->
              <slot name="heading">
                {title && <h1 class=""></h1>}
              </slot>
              <slot />
            </div>
          </main>
        </div>

        <SideBar
          class="col-span-1 lg:col-span-1 row-start-3 lg:row-start-1 row-end-4 lg:row-end-2 mb-4 lg:max-w-[17.5rem] onload-animation"
          headings={headings}
        />

        <div
          class="col-span-1 lg:col-span-2 row-start-4 row-end-5 footer onload-animation"
          style="padding-bottom: 60px"
        >
          <Footer />
        </div>
      </div>

<!--       <BackToTop /> -->
    </div>
  </div>

  <!-- The things that should be under the banner, only the TOC for now -->
  <div class="hidden 2xl:block z-0 absolute w-full">
    <div class="relative mx-auto max-w-[var(--page-width)]">
      <!-- TOC component -->
      {
        siteConfig.toc.enable && (
          <div
            id="toc-wrapper"
            class:list={[
              "hidden lg:block transition absolute top-0 -right-[var(--toc-width)] w-[var(--toc-width)] items-center",
              { "toc-hide": siteConfig.banner.enable },
            ]}
          >
            <div
              id="toc-inner-wrapper"
              class="top-14 fixed w-[var(--toc-width)] h-[calc(100vh_-_20rem)] overflow-x-hidden overflow-y-scroll hide-scrollbar"
            >
              <div id="toc" class="w-full h-full transition-swup-fade">
                <div class="w-full h-8" />
                <TOC headings={headings} />
                <div class="w-full h-8" />
              </div>
            </div>
          </div>
        )
      }

      <!-- #toc needs to exist for Swup to work normally -->
      {!siteConfig.toc.enable && <div id="toc" />}
    </div>
  </div>
</Layout>
